#navbar{
    height: 120px;
    background-color: #06131f;
}

#my_container_navbar{
    width: 1700px;
    margin: 0 auto;
}

#logo{
    height: 120px;
}

#my_logo{
    height: 100%;
}

#my_container_album{
    background-color: #1d2d3c;
    height: calc(100vh - 120px);
    padding-top: 50px;
}

#my_album_section{
    width: 2100px;
    margin: 0 auto;
}

#my_list_album{
    gap: 90px;
}

#my_album{
    width: calc(100% / 3 - 90px / 3 * 2);
    background-color: #112030;
    border-radius: 20px;
    padding: 70px;
}

#my_album img {
    width: 100%;
    cursor: pointer;
}

li{
    list-style-type: none;
}

#album-details {
    width: 1300px;
    height: 1300px;
    border-radius: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(17,32,48,0.9); 
    padding: 20px;
    color: white;
}

#album_image_spash{
    width: 800px;
    margin: 0 auto;
}

#album_image_spash img{
    width: 100%;
    padding-top: 100px;
}

#close-button {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: transparent;
    padding: 5px 15px;
    border: 3px solid white;
    color: white;
    font-size: 30px;
    cursor: pointer;
}