#navbar{
    height: 120px;
    width: 100%;
    background-color: #06131f;
}

#logo{
    height: 120px;
}

#logo img{
    height: 100%;
}

#my_container_navbar{
    width: 1700px;
    margin: 0 auto;
}

#my_container_album{
    background-color: #1d2d3c;
    height: 100vh;
    padding-top: 50px;
}

#my_album_section{
    width: 2100px;
    margin: 0 auto;
}

#my_list_album{
    gap: 90px;
}

#my_album{
    width: calc(100% / 3 - 90px / 3 * 2);
    background-color: #112030;
    border-radius: 20px;
    padding: 70px;
}

img{
    width: 100%;
    cursor: pointer;
}

li{
    list-style-type: none;
}

#album-details {
    width: 1000px;
    height: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgba(17,32,48,0.8); 
    padding: 20px;
    color: white;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 50px;
    cursor: pointer;
}